<a href="https://colab.research.google.com/github/alicewu1/descriptives-nydischarges/blob/main/Tableone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install tableone

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tableone
  Downloading tableone-0.7.12-py3-none-any.whl (32 kB)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from tableone) (1.7.3)
Requirement already satisfied: pandas>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from tableone) (1.3.5)
Requirement already satisfied: numpy>=1.19.1 in /usr/local/lib/python3.7/dist-packages (from tableone) (1.21.6)
Requirement already satisfied: statsmodels>=0.12.1 in /usr/local/lib/python3.7/dist-packages (from tableone) (0.12.2)
Requirement already satisfied: tabulate>=0.8.10 in /usr/local/lib/python3.7/dist-packages (from tableone) (0.8.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.1->tableone) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.1->tableone) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.1->tableone) (1.15.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.12.1->tableone) (0.5.2)
Installing collected packages: tableone
Successfully installed tableone-0.7.12

In [3]:
import pandas as pd 
from tableone import TableOne, load_dataset

In [4]:
sparcs=pd.read_csv('https://health.data.ny.gov/resource/gnzp-ekau.csv')

In [5]:
sparcs

,health_service_area,hospital_county,operating_certificate_number,facility_id,facility_name,age_group,zip_code_3_digits,gender,race,ethnicity,...,apr_risk_of_mortality,apr_medical_surgical_description,payment_typology_1,payment_typology_2,payment_typology_3,birth_weight,abortion_edit_indicator,emergency_department_indicator,total_charges,total_costs
0,Western NY,Allegany,226700.0,37.0,Cuba Memorial Hospital Inc,70 or Older,147,F,White,Not Span/Hispanic,...,Moderate,Medical,Medicare,Private Health Insurance,NaN,0,N,N,3913.23,3466.83
1,Western NY,Allegany,226700.0,37.0,Cuba Memorial Hospital Inc,30 to 49,147,M,White,Not Span/Hispanic,...,Minor,Medical,Self-Pay,NaN,NaN,0,N,Y,3597.10,3746.80
2,Western NY,Allegany,226700.0,37.0,Cuba Memorial Hospital Inc,50 to 69,147,F,White,Not Span/Hispanic,...,Minor,Medical,Medicare,Federal/State/Local/VA,NaN,0,N,Y,9149.22,8322.10
3,Western NY,Allegany,226700.0,37.0,Cuba Memorial Hospital Inc,70 or Older,147,M,White,Not Span/Hispanic,...,Moderate,Medical,Medicare,Medicaid,NaN,0,N,Y,5880.61,5828.87
4,Western NY,Allegany,226700.0,37.0,Cuba Memorial Hospital Inc,50 to 69,147,M,White,Not Span/Hispanic,...,Moderate,Medical,Blue Cross/Blue Shield,NaN,NaN,0,N,Y,7019.76,6604.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Western NY,Allegany,228000.0,39.0,Memorial Hosp of Wm F & Gertrude F Jones A/K/A...,18 to 29,148,F,White,Not Span/Hispanic,...,Minor,Medical,Blue Cross/Blue Shield,Private Health Insurance,Medicaid,0,N,N,9919.75,6485.86
996,Western NY,Allegany,228000.0,39.0,Memorial Hosp of Wm F & Gertrude F Jones A/K/A...,70 or Older,148,M,White,Not Span/Hispanic,...,Major,Medical,Medicare,Self-Pay,Self-Pay,0,N,Y,21794.75,13726.59
997,Western NY,Allegany,228000.0,39.0,Memorial Hosp of Wm F & Gertrude F Jones A/K/A...,30 to 49,148,F,White,Not Span/Hispanic,...,Minor,Medical,Blue Cross/Blue Shield,Self-Pay,Self-Pay,0,N,N,7557.50,5175.34
998,NaN,NaN,NaN,NaN,Redacted for Confidentiality,50 to 69,NaN,M,White,Unknown,...,Minor,Medical,Medicare,Medicaid,Self-Pay,0,N,Y,17047.25,18075.81
999,Western NY,Allegany,228000.0,39.0,Memorial Hosp of Wm F & Gertrude F Jones A/K/A...,0 to 17,148,F,White,Unknown,...,Minor,Medical,Medicaid,Self-Pay,Self-Pay,3300,N,N,3256.25,1394.61

In [6]:
sparcs.dtypes

health_service_area                     object
hospital_county                         object
operating_certificate_number           float64
facility_id                            float64
facility_name                           object
age_group                               object
zip_code_3_digits                       object
gender                                  object
race                                    object
ethnicity                               object
length_of_stay                           int64
type_of_admission                       object
patient_disposition                     object
discharge_year                           int64
ccs_diagnosis_code                       int64
ccs_diagnosis_description               object
ccs_procedure_code                       int64
ccs_procedure_description               object
apr_drg_code                             int64
apr_drg_description                     object
apr_mdc_code                             int64
apr_mdc_description                     object
apr_severity_of_illness_code             int64
apr_severity_of_illness_description     object
apr_risk_of_mortality                   object
apr_medical_surgical_description        object
payment_typology_1                      object
payment_typology_2                      object
payment_typology_3                      object
birth_weight                             int64
abortion_edit_indicator                 object
emergency_department_indicator          object
total_charges                          float64
total_costs                            float64
dtype: object

In [15]:
sparcs_columns = ['gender', 'length_of_stay', 'total_costs']

In [8]:
sparcs_categorical = ['gender', 'length_of_stay']

In [9]:
sparcs_groupby = ['length_of_stay']

In [16]:
sparcs_labels={'total_costs': 'final_costs'}

In [17]:
sparcsTab1 = TableOne(sparcs, columns=sparcs_columns, categorical=sparcs_categorical, groupby=sparcs_groupby, rename=sparcs_labels, pval=False )

In [19]:
sparcsTab1

                          Grouped by length_of_stay
                                            Missing            Overall                 1                 10                11                12                13             14                16             17             18             19                2                 20                 21                27                 3                 4                 5                 6                 7                 8                  9
n                                                                 1000               175                 15                 5                 4                 3              1                 3              1              1              1              293                  3                  2                 2               207               119                60                47                33                14                 11
gender, n (%)          F                          0         621 (62.1)        104 (59.4)           9 (60.0)          3 (60.0)          2 (50.0)          1 (33.3)                                                                                     198 (67.6)           1 (33.3)           1 (50.0)         2 (100.0)        133 (64.3)         75 (63.0)         33 (55.0)         23 (48.9)         19 (57.6)          8 (57.1)           9 (81.8)
                       M                                    379 (37.9)         71 (40.6)           6 (40.0)          2 (40.0)          2 (50.0)          2 (66.7)      1 (100.0)         3 (100.0)      1 (100.0)      1 (100.0)      1 (100.0)        95 (32.4)           2 (66.7)           1 (50.0)                           74 (35.7)         44 (37.0)         27 (45.0)         24 (51.1)         14 (42.4)          6 (42.9)           2 (18.2)
length_of_stay, n (%)  1                          0         175 (17.5)       175 (100.0)
                       10                                     15 (1.5)                           15 (100.0)
                       11                                      5 (0.5)                                              5 (100.0)
                       12                                      4 (0.4)                                                                4 (100.0)
                       13                                      3 (0.3)                                                                                  3 (100.0)
                       14                                      1 (0.1)                                                                                                 1 (100.0)
                       16                                      3 (0.3)                                                                                                                   3 (100.0)
                       17                                      1 (0.1)                                                                                                                                  1 (100.0)
                       18                                      1 (0.1)                                                                                                                                                 1 (100.0)
                       19                                      1 (0.1)                                                                                                                                                                1 (100.0)
                       2                                    293 (29.3)                                                                                                                                                                               293 (100.0)
                       20                                      3 (0.3)                                                                                                                                                                                                    3 (100.0)
                       21                                      2 (0.2)                                                                                                                                                                                                                       2 (100.0)
                       27                                      2 (0.2)                                                                                                                                                                                                                                         2 (100.0)
                       3                                    207 (20.7)                                                                                                                                                                                                                                                         207 (100.0)
                       4                                    119 (11.9)                                                                                                                                                                                                                                                                           119 (100.0)
                       5                                      60 (6.0)                                                                                                                                                                                                                                                                                              60 (100.0)
                       6                                      47 (4.7)                                                                                                                                                                                                                                                                                                                47 (100.0)
                       7                                      33 (3.3)                                                                                                                                                                                                                                                                                                                                  33 (100.0)
                       8                                      14 (1.4)                                                                                                                                                                                                                                                                                                                                                    14 (100.0)
                       9                                      11 (1.1)                                                                                                                                                                                                                                                                                                                                                                       11 (100.0)
final_costs, mean (SD)                            0  10103.5 (12149.5)  7587.3 (14466.1)  25981.0 (17034.3)  24176.0 (9188.5)  23931.2 (7286.0)  28667.5 (9381.9)  21965.2 (0.0)  35156.6 (9955.2)  53971.4 (0.0)  43030.2 (0.0)  35022.0 (0.0)  6463.7 (9367.6)  49083.7 (17538.0)  53050.7 (30072.9)  49757.3 (4851.1)  8888.0 (12233.4)  10019.6 (6180.5)  12392.0 (7431.1)  15366.9 (5956.4)  15587.1 (5017.3)  20427.5 (5020.3)  25360.3 (14198.5)